
/*MIXIN para mis configuraciones de flex*/

@mixin flexible($direction, $justify, $align) {
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

/*MAPAS para el color de mis Redes en el apartado contactos*/

$redes: (
    whatsapp: rgb(0, 255, 98),
    facebook: blue,
    instagram: rgb(255, 0, 149)
);
@each $red, $color in $redes{
    .color-#{$red}{
        color: $color;
    }
}

$color-primary: rgb(247, 247, 20);
$resaltador:rgb(192, 192, 41);
$web-color: rgb(241, 241, 229);
 
body{
    font-family: 'Fira Sans', sans-serif;
    background-color: $web-color;

    .resaltar{
        color: $resaltador;
    }
        .navbar{
            background-color:$color-primary !important ;
            .divNav{
                a{
                    color: black;
                    font-size: 1.3rem;
                }

                button{
                     border: 3px solid black;
                     border-radius: 8px;
                }

                .enlaces{
                    flex-grow: 0 !important;
                    }
                }
            }

}

.descripcion-producto{
    text-align: center;
    p{
        font-size: 2rem;
    }
}

/* -----------------ESTILOS DE MI HEADER------------- */

.encabezado{
    display: flex;
    @include flexible(column,center ,center );
    
    h1{
        font-size: 50px;
    }

    p{
        font-size: 30px;
    }
}

/* --------------------ESTILOS DE MI FOOTER---------------- */

.footer{
    background-color: $color-primary;
    border: solid  black;
    border-radius: 10px;

    display: flex;
    @include flexible(row,justify-content ,center );

    h2{
        margin: 15px 20px;
    }
    ul{
        margin: 0 5px;

        .footer-li{
            display: inline-block;

                a{
                    color: black;
                text-decoration: none;
            }
        }
    }
}