@import "generalStyles";
/* -----------------ESTILOS DE MI MAIN--------------- */

.descripcion-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.giftcard{
    height: 310px;
}
.about,.apartado{
    @extend .descripcion-producto;
}
.about-imagen{
    width: 20rem;
}
.about p{
    margin: 20px;
    font-size: 35px;
}

.about .section-about{
    @media screen and (max-width:771px){
        flex-direction: column;
    }
}

.nosotros{
    text-align: center;

    .informacion-about{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width:768px){
            flex-direction: row;
        }

        .imagen-informacion-nosotros{
            height: 20rem;
        }

        .texto-informacion-nosotros{
            font-size: 2rem;
        }
    }
}

.giftcard1{
    .section-gift1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width:768px){
            flex-direction: row;
        }

        .about-imagen1{
            height: 20rem;
        }
    }




}



/* ----------------ESTILOS HEADER, GIFTCARD-------------------- */

.encabezado{
        text-align: center;
}

/* -----------ESTILOS DE MI MAIN, PARTE GIFTCARD-------------- */

.apartado{
    display: flex;
    justify-content: space-between;

    p{
        font-size: 35px ;
        text-align: center;
    } 
}

#giftcard{
    text-align: center;
}
/* --------------------MAIN PRODUCTOS---------------------- */

.encabezado-productos{
    @include flexible(column,center , center);
    justify-items: center;
    text-align: center;

    height: 400px;
}
 
/* -------------------MAIN CONTACTOS------------------------ */

.main-contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;

    @media screen and (min-width:768px){
        align-items: flex-start;
        flex-direction: row;
    }

    .formulario{
        background-color: $color-primary;
        width: 250px;
        border: solid 4px;

        .formulario-contacto{
            display: block;
        }
    }
    div{
        .redes{
            margin: .5rem 0;
            
            .redes-logo{
                height: 25px;
            }
    
            #whap-num{
                display: inline;
            }
            .redes-link{
                text-decoration: none;
                color: black;
    
            }
        }
    }
}

/* COMIENZO MEDIA QUERIE INDEX.MAIN */
    .main-nosotros{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 3rem 0;
    }
    .main-nosotros div p{
        text-align: center;
        max-width: 35rem;
        font-size: 1.5rem;
    }
    /* UTILIZO ESTA CONFIGURACION DE MEDIA QUERIE PARA EL MAIN DE MI GIFTCARD.HTML */
#giftcard{
    font-size: 30px;
    text-align: center;
}

.section-gift-descrip{
    font-size: 30px ;
    text-align: center;
}

.main-giftcard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem 0;
    text-align: center;

    div{
        max-width: 30rem;
        margin:0 30px;

        p{
            font-size: 30px;
        }
    }
}



/* CONFIGURACION MEDIA QUERIE PARA DISPOSITIVOS 769PX */

@media screen and (min-width:768px) {

    .barraNav ul{
        display: flex;
    }

    .button{
        display: none !important;
    }

    .main-nosotros{
        flex-direction: row;
    }

.footer{
    align-items: center;
    justify-content: space-between;
}

.footer h2{
    margin: 15px 30px;
}

.footer-li{
    display: inline-block;
    margin: 0 15 px;
}

.footer-li a{
    text-decoration: none;
}
}
